* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23e3c9;
    overflow: hidden;
}

.slider {
    width: 800px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}

.imgs-container {
    display: flex;
    transition: 400ms ease-in-out;
}

img {
    max-width: 100%;
}

.slide-btn {
    position: absolute;
    align-self: center;
    height: 10%;
    width: 10%;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.507);
    font-size: 3rem;
    cursor: pointer;
    opacity: 0;
    transition: 150ms ease-in-out;
}

.slider:hover .slide-btn {
    opacity: 1;
}

#prevBtn {
    left: 0;
}

#nextBtn {
    right: 0;
}

.hide {
    display: none;
}

.custom-radio-btns {
    position: absolute;
    bottom: 1rem;
    display: flex;
    gap: 1rem;
}

input[type="radio"]:checked + label {
    background-color: #23e3c9;
}

.radio-btn {
    width: 0.8rem;
    height: 0.8rem;
    border: 0.15rem solid rgba(245, 245, 245, 0.658);
    border-radius: 100%;
    cursor: pointer;
    transition: 200ms;
}
